/* ################ STARTSEITE ******************* */

div.alignRight {
    text-align: center;
}

div#header div.alignRight div {
    border-top: 1px solid gray;
    margin: 0 15% 3% 15%; 
}

div#header div.alignRight h1 {
    margin-top: 1em;
}

div#header div.alignRight h2 {
    font-size: 1.2em;   
}

div#header div.alignRight p {
    margin: 1em 0 1em 0;
    color: #5f5f5f;  
}

h3 {
    margin-bottom: 0.5em;
    font-size: 1.4em;

}

div.row1 {
    padding-bottom: 2em;
    border-bottom: 1px solid #9b9b9b;
    margin-bottom: 2em;
}

div#content a.button,
div#content button {
    display: inline-block;
    margin: 0.5em 0 0 0;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    background-color: #ac4d00;
    color: white;
    font-family: PTSans;
    font-weight: normal;
    font-size: 0.8em;
}

div#content a.button:hover {
    background-color: #C45F11;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

div#search label {
    display: none;
}

div#search select,
div#search input {
    width: 90%;
    margin: 0 0 0.5em 0;
    border: 1px solid gray;
    border-radius: 0.3em;
    padding: 5px;
}

div#search input:focus {
    border: 1px solid #AC4D00;
}

div#search select {
    width: auto;
}

div#search button.submit {
    width: auto;
}

div#search p {
    font-family: PTSans;
    font-size: 0.8em;
    margin: 1em 0 0 0;
}

/* AVH */

div#header,
div#content {
    background: none;
    
} 

div#header {
    height: 82%;
}

div#header h1 {
    font-size: 4.5em;
}

div#header h2 {
    margin-top: 2.5em;
    font-size: 2.25em;
    font-weight: normal;
}

div#header p {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

div#content div.grid_4 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    box-sizing: border-box;
}

div#content a.button, 
div#content button {
    
}

body {
    background: none;
}

html {
    background: url('../images/cayambe.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#header h1 {
    margin-left: -10px;
}

h2 span,
p span {
    display: inline;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 5px 0 0  rgba(0, 0, 0, 0.5), -5px 0 0  rgba(0, 0, 0, 0.5);
    box-decoration-break: clone;
    /* siehe https://css-tricks.com/multi-line-padded-text/ */
}

